doctype html
html
   head
      title="Hello Pug"
   body

        p Hello World!
        p.greetings#people Hello World! con id y clase
        p Bienvenido #{name}, tu turno es el #{othernumber} y tu ID es #{number} 

